.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(./images/cupcakes-2887270_1280.jpg);
  overflow-y: auto;
}

.link {
  text-decoration: none;
  color: #eaa0a2;
  font-size: 20px;
}

.recipe-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.search-form {
  width: 100%;
}

.recipe-details-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-details {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaa0a2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.recipe-details img {
  height: 40%;
  width: 45%;
}

.cuisine-type {
  text-transform: capitalize;
}

.ingredient-lines-container {
  overflow: scroll;
}

.loading-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .recipe-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .recipe-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .recipe-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
